* {
  margin: 0;
}

.app-init {

}

header.app-header {
  padding: 1rem;
  background: #cecece;
}

.content-holder-section {

}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.footer {
  background: #f8f3f3;
  padding: 1rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer p {

}